<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Alle's</title>
</head>

<body>

    <div class="container">
        <div class="card">
            <h2 style="padding-left: 1rem; border-left:4px solid" class="text-white text-left">Login</h2>
            <!-- <button class="fab"><i class="ri-add-line"></i></button> -->


            <form>

                <input class="" type="text" id="email" name="email" placeholder="E-mail" value="email@gmail.com">

                <input class="" type="password" id="password" name="password" placeholder="Password" value="password">


                <a class="submmit" href="home.html">Go</a>
                <a class="forgot" href="#forgot">Forgot your password?</a>

            </form>


        </div>
    </div>



</body>

</html>